# IntelliJ
.idea/
out/

# Gradle and Maven with auto-import
# When using Gradle or Maven with auto-import, you should exclude module files,
# since they will be recreated, and may cause churn.
auto-import.
*.iml
*.ipr

# CMake
cmake-build-*/

# File-based project format
*.iws

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Mac OS X
.DS_Store

# Taskcat
.taskcat_overrides.yml
taskcat_outputs/
.taskcat/

# ASCIIDOC
docs/index.html